OPEN_METEO_MODELS=ncep_gfs013,copernicus_era5,copernicus_dem90,cams_europe
OPEN_METEO_VARIABLES=temperature_2m,precipitation,carbon_monoxide,nitrogen_dioxide,ozone,pm10,pm2_5
OPEN_METEO_MAX_AGE_DAYS=3
OPEN_METEO_REPEAT_INTERVAL=5
OPEN_METEO_CONCURRENT=4
OPEN_METEO_PORT=15434