# Backend
OPENMETEO_API=http://localhost:8080
AWS_TOPIC_ARN=arn:aws:sns:us-east-1:886436966124:ecosensor-data

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ecosensor
POSTGRES_PASS=
POSTGRES_DB=ecosensor