# Backend
ECOSENSOR_PORT=15435
ECOSENSOR_OPENMETEO_API=http://ecosensor-open-meteo-api:8080
AWS_TOPIC_ARN=
AWS_BUCKET_NAME=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=15432
POSTGRES_USER=ecosensor
POSTGRES_PASS=<Your Password>
POSTGRES_DB=ecosensor

# Database Istat
POSTGRES_ISTAT_HOST=localhost
POSTGRES_ISTAT_PORT=15435
POSTGRES_ISTAT_USER=istat
POSTGRES_ISTAT_PASS=<Your Password>
POSTGRES_ISTAT_DB=istat

# Database Osm2pgsql
POSTGRES_OSM_HOST=localhost
POSTGRES_OSM_PORT=15432
POSTGRES_OSM_USER=osm
POSTGRES_OSM_PASS=<Your Password>
POSTGRES_OSM_DB=osm

# Open Meteo
OPEN_METEO_MODELS=ncep_gfs013,copernicus_era5,copernicus_dem90,cams_europe
OPEN_METEO_VARIABLES=temperature_2m,precipitation,carbon_monoxide,nitrogen_dioxide,ozone,pm10,pm2_5
OPEN_METEO_MAX_AGE_DAYS=3
OPEN_METEO_REPEAT_INTERVAL=5
OPEN_METEO_CONCURRENT=4
OPEN_METEO_PORT=15434