# Backend
ECOSENSOR_PORT=80
ECOSENSOR_OPENMETEO_API=http://ecosensor-open-meteo-api:8080
AWS_TOPIC_ARN=
AWS_BUCKET_NAME=

# Database
POSTGRES_HOST=ecosensor-db
POSTGRES_PORT=5432
POSTGRES_USER=ecosensor
POSTGRES_PASS=
POSTGRES_DB=ecosensor
POSTGRES_INITDB_ARGS="-c shared_buffers=1GB -c work_mem=50MB -c maintenance_work_mem=2GB -c autovacuum_work_mem=1GB -c wal_level=minimal -c checkpoint_completion_target=0.9 -c max_wal_senders=0 -c random_page_cost=1.0"

# Database Istat
POSTGRES_ISTAT_HOST=ecosensor-istat-db
POSTGRES_ISTAT_PORT=5434
POSTGRES_ISTAT_USER=istat
POSTGRES_ISTAT_PASS=
POSTGRES_ISTAT_DB=istat

# Database Osm2pgsql
POSTGRES_OSM_HOST=ecosensor-osm2pg-db
POSTGRES_OSM_PORT=5433
POSTGRES_OSM_USER=osm
POSTGRES_OSM_PASS=
POSTGRES_OSM_DB=osm

# Open Meteo
OPEN_METEO_MODELS=ncep_gfs013,copernicus_era5,copernicus_dem90,cams_europe
OPEN_METEO_VARIABLES=temperature_2m,precipitation,carbon_monoxide,nitrogen_dioxide,ozone,pm10,pm2_5
OPEN_METEO_MAX_AGE_DAYS=3
OPEN_METEO_REPEAT_INTERVAL=5
OPEN_METEO_CONCURRENT=4
OPEN_METEO_PORT=81